body {
    margin: 0%;
    background-color: darkgray;
    
}
code {
    white-space: normal;
}

h1 {
    margin-top: 0%;
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
}

.row {
     background-color: darksalmon;

}